@import "styles/index";

.root {
  display: flex;
  width: 100%;
  height: 68px;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  color: $white;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  background-color: $button;
  border-radius: 15px;
  position: relative;

  &.disabled {}

  &.fluid {
    width: 100%;
  }
}

.spinner {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerVisible {
  visibility: visible;
}

.withIcon {

  .text {
    display: flex;
    align-items: center;
    grid-gap: 8px;
  }
}

.text {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.textHidden {
  visibility: hidden;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.circle {
  border-radius: 100%;
}