@import "styles/index";

.root {
  display: flex;
  @include list(34px, true);
  margin-top: 100px;

  @include mq($TabletWidth, max) {
    flex-direction: column;
    @include list(22px, false);
  }
}