@import "styles/index";

.root {
    background-color: $button;
    border-radius: 15px;
    height: 68px;
    width: 128px;
    border: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.57px;
    color: $white;
    text-align: center;
}