@import "styles/index";

.root {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 75%;

  @include mq($PhoneWidth, max) {
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

.container_inner {
  margin: 0 auto;
  width: 51%;

  @include mq(1907px, max) {
    width: 65%;
  }

  @include mq($VSmDesktopWidth, max) {
    width: 100%;
    padding: 0 14px;
  }
}