@import "styles/index";

.form {
  padding: 14px;
  background-color: $item;
  border-radius: 15px;
  margin-top: 300px;
  display: flex;
  @include list(16px, true);

  @include mq($TabletWidth, max) {
    flex-direction: column;
    @include list(16px, false);
  }
}

.left {
  display: flex;
  flex-direction: column;
  @include list(20px, false);
  overflow-x: hidden;
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  text-align: left;
  color: black;

  @include mq($TabletWidth, max) {
    text-align: center;
  }
}

.table {
  margin-top: 20px;
  max-height: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;

  @include mq($MPhoneWidth, max) {
    display: flex;
    flex-direction: column;
  }
}

.item {
  display: table-row;
}

.quantity,
.name,
.price {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: left;
  color: black;
  display: table-cell;
}

.name {
  height: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  width: 120px;
}

.space {
  width: 50px;
}

.quantity {}

.price {
  padding-left: 20px;
}

.right {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include mq($TabletWidth, max) {
    width: 100%;
  }
}