@import "styles/index";

.root {}

.card {}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
  overflow-x: hidden;

  .card:nth-child(3n) {
    margin-right: 0;
  }

  @include mq(1500px, max) {
    .card:nth-child(3n) {
      margin-right: 35px;
    }
  }

  @include mq($TabletWidth, max) {
    .card:nth-child(2n) {
      margin-right: 0;
    }

    .card:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include mq(1907px, max) {
    justify-content: center;
  }
}