@import "styles/index";

.root {
  height: 68px;
  border-radius: 15px;
  border: 0;
  background-color: $button;
  color: $white;
  padding: 0 16px;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
}