@import "styles/index";

.root {
  background-color: $item;
  height: 611px;
  padding: 29px;
  border-radius: 15px;
  width: 100%;

  h1,
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
  }

  h1 {
    margin: 0;
  }
}