@import "styles/index";

.root {
  background-color: $item;
  height: 812px;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  max-width: 301px;
  margin-bottom: 35px;
  justify-content: space-between;

  @include mq(628px, max) {
    margin-right: 0;
  }

  @include mq($MPhoneWidth, max) {
    padding: 3px;
  }
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: 15px;
  align-self: center;

  img {
    position: relative !important;
  }
}

.title {
  color: $black;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
  text-align: center;
  height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
}

.desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: left;
  max-height: 200px;
  overflow-y: scroll;
  word-break: break-word;
}

.price {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.57px;
}

.btn,
.btns {
  margin-top: 42px;
}

.btns {
  display: flex;
  @include list(7px, true);
}

.controls {
  width: 68px;
}

.amount {
  width: 128px;
}