@import "styles/index";

.dialog {
  top: 120px;
  left: calc(50% - 20px);
  max-width: 460px;
  color: #1a2536;
  position: relative;
  margin: -120px 20px 200px;
  margin-top: -120px;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  background: #eee;
  border-radius: 3px;
  border-radius: 15px;
}