@import "styles/index";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 132px;
  border-radius: 15px;
  background-color: $header;
  font-size: 96px;
  font-weight: 400;
  line-height: 116.18px;
  text-align: left;
  color: $white;
  margin-top: 44px;

  @include mq($PhoneWidth, max) {
    margin-top: 0;
  }

  @include mq($MdDesktopWidth, max) {
    height: auto;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    text-align: center;
  }
}