@import "styles/index";

.root {
  background-color: $item;
  padding: 20px;
  text-align: center;
  display: flex;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.title {
  flex: 1 1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: $button;
}

.close {
  padding: 3px;
  font-size: 22px;
  cursor: pointer;
  transition: all .2s ease;
  position: absolute;
  right: 5px;
  transform: translateY(-50%);

  svg {
    width: 0.6875em;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }
}