@import "mixins";
@import "variables";

html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: 'Inter';
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-family: 'Inter';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

a {
  color: initial;
}

#__next {
  position: relative;
  min-height: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: $main;

  &.modal-open {
    overflow-y: hidden;
  }

}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.slick-slider {}

form {
  display: block;
}

// React Modal

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: inherit;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: none;
}

.customToast {
  border-radius: 24px !important;
  padding: 24px !important;
  align-items: flex-start !important;
}