// breakepoints
$VLDesktopWidth: 1920px;
$LDesktopWidth: 1440px;
$DesktopWidth: 1280px;
$MdDesktopWidth: 1200px;
$SmDesktopWidth: 1024px;
$VSmDesktopWidth: 992px;
$TabletWidth: 768px;
$PhoneWidth: 480px;
$LPhoneWidth: 428px;
$MPhoneWidth: 375px;
$SmPhoneWidth: 320px;

$xs-max: 768px;
$xs-max: 768px;
$md-min: 769px;
$md-medium: 1200px;
$md-max: 1600px;
$lg-min: 1601px;
$lg-medium: 1700px;
$lg-max: 2500px;
$xl-min: 2501px;

// Colors
$white: #F0F0F0;
$black: #000000;
$header: #777777;
$main: #222222;
$item: #D9D9D9;
$button: #222222;